<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/clear.css">
    <link rel="stylesheet" href="/static/css/menustyle.css">
    <link rel="stylesheet" href="/static/css/authstyle.css">
    <title>Кот-Учёный</title>
</head>

<body>
    <div id="content">
        <img src="/static/img/logo.svg" alt="Логотип">
        <form action="">
            <span class="labelText">Логин</span><br>
            <input type="text" id="login" class="inputText">
            <span class="labelText">Пароль</span><br>
            <input type="password" id="password" class="inputText"><br>
            <input type="button" class="button" value="Вход" onclick="auth();"><br>
            <a href="/newStudent"><input type="button" class="button" value="Регистрация ученику"><br></a>
            <a href="/newTeacher"><input type="button" class="button" value="Регистрация репетитору"><br></a>
        </form>
    </div>
</body>
<script src="/static/js/auth.js"></script>

</html>