<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/clear.css">
    <link rel="stylesheet" href="/static/css/menustyle.css">
    <link rel="stylesheet" href="/static/css/lkstyle.css">
    <link rel="stylesheet" href="/static/css/banstyle.css">
    <title>Личный кабинет</title>
</head>

<body>
    <div id="content">
        <div id="banMessage">
            Вы были забанены администратором сервиса!
        </div>
        <input type="button" class="button" value="Выход" onclick="exit();">
    </div>
</body>
<script src="/static/js/exitProfile.js"></script>

</html>