<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/css/clear.css">
    <link rel="stylesheet" href="./static/css/menustyle.css">
    <link rel="stylesheet" href="./static/css/lkstyle.css">
    <title>Личный кабинет</title>
</head>

<body>
    <div id="content">
        <div class="menuMobileDiv">
            <input type="button" class="button" onclick="showHideMenu(1);" value="Меню">
            <div class="menuMobile" id="menuId1" data-vis="nonvis">
                <input type="button" class="button choice" value="Профиль">
                <input type="button" class="button" value="Поиск репетитора">
                <input type="button" class="button" value="Мессенджер">
                <input type="button" class="button" value="Расписание">
                <input type="button" class="button" value="Выход">
            </div>
        </div>
        <div class="menuDesktopDiv">
            <input type="button" class="button deskmenu choice" value="Профиль">
            <input type="button" class="button deskmenu" value="Поиск репетитора">
            <input type="button" class="button deskmenu" value="Мессенджер">
            <input type="button" class="button deskmenu" value="Расписание">
            <input type="button" class="button deskmenu" value="Выход">
        </div>
        <div id="mobileContext">
            <img id="avatarMobile" src="ava.jpg" alt="Ваше фото">
            <span class="labelText">Фамилия</span>
            <span class="valueText">Гибридов</span>
            <span class="labelText">Имя</span>
            <span class="valueText">Александр</span>
            <span class="labelText">Дата рождения</span>
            <span class="valueText">12.01.2006</span>
            <span class="labelText">Класс</span>
            <span class="valueText">8</span>
            <span class="labelText">Номер телефона</span>
            <span class="valueText">+79967324995</span>
            <span class="labelText">Email</span>
            <span class="valueText">sasha2006@gmail.com</span>
            <span class="labelText">О себе</span>
            <span class="valueText">Нужна срочная помощь с информатикой! Ответственный и усидчивый!</span>
            <span class="labelText">Изучаемые предметы</span>
            <span class="valueText">Математика</span>
            <span class="valueText">Физика</span>
            <span class="labelText">Формат занятий</span>
            <span class="valueText">Дистанционно</span>
            <input type="button" class="button edit" value="Редактировать профиль">
        </div>
        <div id="desktopContext">
            <div class="onePartContext">
                <img id="avatarDesktop" src="ava.jpg" alt="Ваше фото">
                <span class="labelText firstColTextLabel">Фамилия</span>
                <span class="valueText firstColTextValue">Гибридов</span>
                <span class="labelText firstColTextLabel">Имя</span>
                <span class="valueText firstColTextValue">Александр</span>
            </div>
            <div class="onePartContext">
                <span class="labelText">Дата рождения</span>
                <span class="valueText">12.01.2006</span>
                <span class="labelText">Класс</span>
                <span class="valueText">8</span>
                <span class="labelText">Номер телефона</span>
                <span class="valueText">+79967324995</span>
                <span class="labelText">Email</span>
                <span class="valueText">sasha2006@gmail.com</span>
                <span class="labelText">О себе</span>
                <span class="valueText">Нужна срочная помощь с информатикой! Ответственный и усидчивый!</span>
                <input type="button" class="button edit" value="Редактировать профиль">
            </div>
            <div class="onePartContext">
                <span class="labelText">Изучаемые предметы</span>
                <span class="valueText">Математика</span>
                <span class="valueText">Физика</span>
                <span class="labelText">Формат занятий</span>
                <span class="valueText">Дистанционно</span>
            </div>
        </div>
    </div>
</body>
<script src="./static/css/mobileMenuScript.js"></script>

</html>