<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/css/clear.css">
    <link rel="stylesheet" href="./static/css/menustyle.css">
    <link rel="stylesheet" href="./static/css/lkstyle.css">
    <title>Личный кабинет</title>
</head>

<body>
    <div id="content">
        <div class="menuMobileDiv">
            <input type="button" class="button" onclick="showHideMenu(1);" value="Меню">
            <div class="menuMobile" id="menuId1" data-vis="nonvis">
                <input type="button" class="button choice" value="Профиль">
                <input type="button" class="button" value="Поиск ученика">
                <input type="button" class="button" value="Мессенджер">
                <input type="button" class="button" value="Расписание">
                <input type="button" class="button" value="Выход" onclick="exit();">
            </div>
        </div>
        <div class="menuDesktopDiv">
            <input type="button" class="button deskmenu choice" value="Профиль">
            <input type="button" class="button deskmenu" value="Поиск ученика">
            <input type="button" class="button deskmenu" value="Мессенджер">
            <input type="button" class="button deskmenu" value="Расписание">
            <input type="button" class="button deskmenu" value="Выход" onclick="exit();">
        </div>
        <div id="mobileContext">

        </div>
        <div id="desktopContext">

        </div>
    </div>
</body>
<script src="./static/js/mobileMenuScript.js"></script>
<script src="./static/js/loadInfoAboutUser.js"></script>
<script>
    loadInfoAboutTeacher();
</script>
<script src="./static/js/exitProfile.js"></script>

</html>