<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/clear.css">
    <link rel="stylesheet" href="/static/css/menustyle.css">
    <link rel="stylesheet" href="/static/css/adminstyle.css">
    <title>Переписка</title>
</head>

<body>
    <div id="content">
        <div id="messenger">
            <div class="inputMessageDiv">
                <span class="inputMessage">Привет, мир!</span><span class="inputMessage dateTime">   (22.22.2222 22:22)</span>
            </div>
            <div class="outputMessageDiv">
                <span class="outputMessage">Привет, мир!</span><span class="outputMessage dateTime">   (22.22.2222 22:22)</span>
            </div>
            <div class="inputMessageDiv">
                <span class="inputMessage">Привет, мир!</span><span class="inputMessage dateTime">   (22.22.2222 22:22)</span>
            </div>
            <div class="outputMessageDiv">
                <span class="outputMessage">Привет, мир!</span><span class="outputMessage dateTime">   (22.22.2222 22:22)</span>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/loadMessAW.js"></script>
<script>
    load();
</script>

</html>