<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/clear.css">
    <link rel="stylesheet" href="/static/css/menustyle.css">
    <link rel="stylesheet" href="/static/css/regstyle.css">
    <title>Регистрация ученика</title>
</head>

<body>
    <div id="content">
        <h1>Регистрация ученика</h1>
        <form action="">
            <span class="labelText">Ваш город</span>
            <select id="selectCities"></select>
            <span class="labelText">Фамилия</span>
            <input type="text" id="secondName" class="inputText">
            <span class="labelText">Имя</span>
            <input type="text" id="firstName" class="inputText">
            <span class="labelText">Дата рождения</span>
            <input type="text" id="birthDay" class="inputText" placeholder="ДД.ММ.ГГГГ">
            <span class="labelText">Класс</span>
            <select id="classNumber">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
            </select>
            <span class="labelText">Формат занятий</span>
            <label><div class="choiceDIV"><input type="checkbox" id="selectSTOT" class="choice">Я к преподавателю</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectTTOS" class="choice">Преподаватель ко мне</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectDistant" class="choice">Дистанционно</div></label>
            <span class="labelText">Пол</span>
            <label><div class="choiceDIV"><input type="radio" name="sex" id="radioMan" checked class="choice">Мужской</div></label>
            <label><div class="choiceDIV"><input type="radio" name="sex" id="radioWoman" class="choice">Женский</div></label>
            <span class="labelText">Номер телефона</span>
            <input type="text" id="telephone" class="inputText" placeholder="+7**********">
            <span class="labelText">Логин</span>
            <input type="text" id="login" class="inputText">
            <span class="labelText">Пароль</span>
            <input type="password" id="password" class="inputText">
            <span class="labelText">Электронная почта</span>
            <input type="text" id="email" class="inputText">
            <span class="labelText">Изучаемые предметы</span>
            <label><div class="choiceDIV"><input type="checkbox" id="selectMATH" class="choice">Математика</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectRUS" class="choice">Русский язык</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectPHIS" class="choice">Физика</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectINF" class="choice">Информатика</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectCHEM" class="choice">Химия</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectBIO" class="choice">Биология</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectHIST" class="choice">История</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectSOC" class="choice">Обществознание</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectLIT" class="choice">Литература</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectGEO" class="choice">География</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectECO" class="choice">Экономика</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectENG" class="choice">Английский язык</div></label>
            <label><div class="choiceDIV"><input type="checkbox" id="selectNEM" class="choice">Немецкий язык</div></label>
            <input type="button" class="button" value="Зарегистрироваться" onclick="registerStudent();">
        </form>
    </div>
</body>
<script src="/static/js/loadCities.js"></script>
<script src="/static/js/register.js"></script>
<script>
    loadCities();
</script>

</html>