<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/clear.css">
    <link rel="stylesheet" href="/static/css/menustyle.css">
    <link rel="stylesheet" href="/static/css/raspstyle.css">
    <title>Расписание</title>
</head>

<body>
    <div id="content">
        <div class="menuMobileDiv">
            <input type="button" class="button" onclick="showHideMenu(1);" value="Меню">
            <div class="menuMobile" id="menuId1" data-vis="nonvis">
                <a href="/profile"><input type="button" class="button" value="Профиль"></a>
                <a href="/found"><input type="button" class="button" value="Поиск {{foundIs}}"></a>
                <a href="/messenger"><input type="button" class="button" value="Мессенджер"></a>
                <a href="/rasp"><input type="button" class="button choice" value="Расписание"></a>
                <input type="button" class="button" value="Выход" onclick="exit();">
            </div>
        </div>
        <div class="menuMobileDiv">
            <input type="button" class="button" onclick="showHideMenu(4);" value="Выбрать день">
            <div class="menuMobile" id="menuId4" data-vis="nonvis">
                <input type="button" class="button choice" id="mobileDay1" value="Понедельник" onclick="setRaspDay(1);loadMobileRasp('Пн');">
                <input type="button" class="button" id="mobileDay2" value="Вторник" onclick="setRaspDay(2);loadMobileRasp('Вт');">
                <input type="button" class="button" id="mobileDay3" value="Среда" onclick="setRaspDay(3);loadMobileRasp('Ср');">
                <input type="button" class="button" id="mobileDay4" value="Четверг" onclick="setRaspDay(4);loadMobileRasp('Чт');">
                <input type="button" class="button" id="mobileDay5" value="Пятница" onclick="setRaspDay(5);loadMobileRasp('Пт');">
                <input type="button" class="button" id="mobileDay6" value="Суббота" onclick="setRaspDay(6);loadMobileRasp('Сб');">
                <input type="button" class="button" id="mobileDay7" value="Воскресенье" onclick="setRaspDay(7);loadMobileRasp('Вс');">
            </div>
        </div>
        <div class="menuDesktopDiv">
            <a href="/profile"><input type="button" class="button deskmenu" value="Профиль"></a>
            <a href="/found"><input type="button" class="button deskmenu" value="Поиск {{foundIs}}"></a>
            <a href="/messenger"><input type="button" class="button deskmenu" value="Мессенджер"></a>
            <a href="/rasp"><input type="button" class="button deskmenu choice" value="Расписание"></a>
            <input type="button" class="button deskmenu" value="Выход" onclick="exit();">
        </div>
        <div id="mobileContent">

        </div>
        <div id="desktopContent">
            <div id="desktopColumnTime">
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">08:00-09:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">09:00-10:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">10:00-11:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">11:00-12:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">12:00-13:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">13:00-14:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">14:00-15:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">15:00-16:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">16:00-17:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">17:00-18:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">18:00-19:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">19:00-20:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">20:00-21:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">21:00-22:00</span>
                </div>
                <div class="desktopTimeDiv">
                    <span class="desktopTimeSpan">22:00-23:00</span>
                </div>
            </div>
            <div id="desktopColumnsDays">

            </div>
        </div>


    </div>
</body>
<script src="/static/js/mobileMenuScript.js"></script>
<script src="/static/js/mobileRaspDayScript.js"></script>
<script src="/static/js/exitProfile.js"></script>
<script src="/static/js/loadRaspLK.js"></script>
<script>
    _loadRaspToToken();
</script>
<script src="/static/js/updateOnline.js"></script>
<script>
    updateOnlineFunc();
</script>

</html>