<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/clear.css">
    <link rel="stylesheet" href="/static/css/menustyle.css">
    <link rel="stylesheet" href="/static/css/raspstyle.css">
    <title>Расписание</title>
</head>

<body>
    <div id="content">
        <div class="menuMobileDiv">
            <input type="button" class="button" onclick="showHideMenu(1);" value="Меню">
            <div class="menuMobile" id="menuId1" data-vis="nonvis">
                <a href="/profile"><input type="button" class="button" value="Профиль"></a>
                <a href="/found"><input type="button" class="button" value="Поиск {{foundIs}}"></a>
                <a href="/messenger"><input type="button" class="button" value="Мессенджер"></a>
                <a href="/rasp"><input type="button" class="button choice" value="Расписание"></a>
                <input type="button" class="button" value="Выход" onclick="exit();">
            </div>
        </div>
        <div class="menuDesktopDiv">
            <a href="/profile"><input type="button" class="button deskmenu" value="Профиль"></a>
            <a href="/found"><input type="button" class="button deskmenu" value="Поиск {{foundIs}}"></a>
            <a href="/messenger"><input type="button" class="button deskmenu" value="Мессенджер"></a>
            <a href="/rasp"><input type="button" class="button deskmenu choice" value="Расписание"></a>
            <input type="button" class="button deskmenu" value="Выход" onclick="exit();">
        </div>
        <div id="raspContent">
            <div class="borderRaspGroup">
                <span class="titleRaspType">Расписание по дням недели</span>

                <div class="oneDayRasp">
                    <span class="titleRaspType">Понедельник</span>
                    <div class="oneRecordRasp">
                        <span class="timeSpan">18:00-19:00</span>
                        <span class="taskSpan">Позаниматься с Данилом, рассказать ему про выр аыдв адлвыт адлтыв адлты вдалт ывдат ыдла длывлт аыдлвт алтыв адты вадт ыдвлта дытв адлтыв алты влт ыдлтва длывт адлтыв адлт ывдлат ывдлта дылв адлытв адыв адтыв дал ылвт а квадратные уравнения</span>
                        <span class="editRaspElementButtonSpan">
                        <img class="editRaspElementButton" src="/static/img/edit.svg" onclick="editRaspElement(this);">
                        <img class="editRaspElementButton" src="/static/img/trash.svg">
                    </span>
                    </div>
                    <div class="oneRecordRasp">
                        <span class="timeSpan">18:00-19:00</span>
                        <span class="taskSpan">Позаниматься с Данилом, рассказать ему про выр аыдв адлвыт адлтыв адлты вдалт ывдат ыдла длывлт аыдлвт алтыв адты вадт ыдвлта дытв адлтыв алты влт ыдлтва длывт адлтыв адлт ывдлат ывдлта дылв адлытв адыв адтыв дал ылвт а квадратные уравнения</span>
                        <span class="editRaspElementButtonSpan">
                        <img class="editRaspElementButton" src="/static/img/edit.svg" onclick="editRaspElement(this);">
                        <img class="editRaspElementButton" src="/static/img/trash.svg">
                    </span>
                    </div>
                    <input type="button" class="button addButton" value="Добавить" onclick="addRaspEvent(this);">
                </div>

                <div class="oneDayRasp">
                    <span class="titleRaspType">Вторник</span>
                    <div class="oneRecordRasp">
                        <span class="timeSpan">18:00-19:00</span>
                        <span class="taskSpan">Позаниматься с Данилом, рассказать ему про выр аыдв адлвыт адлтыв адлты вдалт ывдат ыдла длывлт аыдлвт алтыв адты вадт ыдвлта дытв адлтыв алты влт ыдлтва длывт адлтыв адлт ывдлат ывдлта дылв адлытв адыв адтыв дал ылвт а квадратные уравнения</span>
                        <span class="editRaspElementButtonSpan">
                        <img class="editRaspElementButton" src="/static/img/edit.svg" onclick="editRaspElement(this);">
                        <img class="editRaspElementButton" src="/static/img/trash.svg">
                    </span>
                    </div>
                    <div class="oneRecordRasp">
                        <input type="text" class="input" placeholder="Время начала"></input>
                        <input type="text" class="input" placeholder="Время завершения"></input>
                        <textarea class="input" placeholder="Деятельность"></textarea>
                        <input type="button" class="button addButton" value="Сохранить">
                    </div>
                    <div class="oneRecordRasp">
                        <span class="timeSpan">18:00-19:00</span>
                        <span class="taskSpan">Позаниматься с Данилом, рассказать ему про выр аыдв адлвыт адлтыв адлты вдалт ывдат ыдла длывлт аыдлвт алтыв адты вадт ыдвлта дытв адлтыв алты влт ыдлтва длывт адлтыв адлт ывдлат ывдлта дылв адлытв адыв адтыв дал ылвт а квадратные уравнения</span>
                        <span class="editRaspElementButtonSpan">
                        <img class="editRaspElementButton" src="/static/img/edit.svg" onclick="editRaspElement(this);">
                        <img class="editRaspElementButton" src="/static/img/trash.svg">
                    </span>
                    </div>
                    <input type="button" class="button addButton" value="Добавить" onclick="addRaspEvent(this);">
                </div>
            </div>
            <!---->
            <div class="borderRaspGroup">
                <span class="titleRaspType">Дополнительное расписание по датам</span>

                <div class="oneDayRasp">
                    <span class="titleRaspType">17.03.2021</span>
                    <div class="oneRecordRasp">
                        <span class="timeSpan">18:00-19:00</span>
                        <span class="taskSpan">Позаниматься с Данилом, рассказать ему про выр аыдв адлвыт адлтыв адлты вдалт ывдат ыдла длывлт аыдлвт алтыв адты вадт ыдвлта дытв адлтыв алты влт ыдлтва длывт адлтыв адлт ывдлат ывдлта дылв адлытв адыв адтыв дал ылвт а квадратные уравнения</span>
                        <span class="editRaspElementButtonSpan">
                        <img class="editRaspElementButton" src="/static/img/edit.svg" onclick="editRaspElement(this);">
                        <img class="editRaspElementButton" src="/static/img/trash.svg">
                    </span>
                    </div>
                    <div class="oneRecordRasp">
                        <span class="timeSpan">18:00-19:00</span>
                        <span class="taskSpan">Позаниматься с Данилом, рассказать ему про выр аыдв адлвыт адлтыв адлты вдалт ывдат ыдла длывлт аыдлвт алтыв адты вадт ыдвлта дытв адлтыв алты влт ыдлтва длывт адлтыв адлт ывдлат ывдлта дылв адлытв адыв адтыв дал ылвт а квадратные уравнения</span>
                        <span class="editRaspElementButtonSpan">
                        <img class="editRaspElementButton" src="/static/img/edit.svg" onclick="editRaspElement(this);">
                        <img class="editRaspElementButton" src="/static/img/trash.svg">
                    </span>
                    </div>
                    <input type="button" class="button addButton" value="Добавить" onclick="addRaspEvent(this);">
                </div>

                <div class="oneDayRasp">
                    <span class="titleRaspType">24.04.2021</span>
                    <div class="oneRecordRasp">
                        <span class="timeSpan">18:00-19:00</span>
                        <span class="taskSpan">Позаниматься с Данилом, рассказать ему про выр аыдв адлвыт адлтыв адлты вдалт ывдат ыдла длывлт аыдлвт алтыв адты вадт ыдвлта дытв адлтыв алты влт ыдлтва длывт адлтыв адлт ывдлат ывдлта дылв адлытв адыв адтыв дал ылвт а квадратные уравнения</span>
                        <span class="editRaspElementButtonSpan">
                        <img class="editRaspElementButton" src="/static/img/edit.svg" onclick="editRaspElement(this);">
                        <img class="editRaspElementButton" src="/static/img/trash.svg">
                    </span>
                    </div>
                    <div class="oneRecordRasp">
                        <span class="timeSpan">18:00-19:00</span>
                        <span class="taskSpan">Позаниматься с Данилом, рассказать ему про выр аыдв адлвыт адлтыв адлты вдалт ывдат ыдла длывлт аыдлвт алтыв адты вадт ыдвлта дытв адлтыв алты влт ыдлтва длывт адлтыв адлт ывдлат ывдлта дылв адлытв адыв адтыв дал ылвт а квадратные уравнения</span>
                        <span class="editRaspElementButtonSpan">
                        <img class="editRaspElementButton" src="/static/img/edit.svg" onclick="editRaspElement(this);">
                        <img class="editRaspElementButton" src="/static/img/trash.svg">
                    </span>
                    </div>
                    <input type="button" class="button addButton" value="Добавить" onclick="addRaspEvent(this);">
                </div>
                <input type="button" class="button addButton" value="Создать" onclick="addRaspAdditionalDate(this);">
            </div>
        </div>
    </div>
</body>
<script src="/static/js/mobileMenuScript.js"></script>
<script src="/static/js/exitProfile.js"></script>
<script src="/static/js/updateOnline.js"></script>
<script>
    updateOnlineFunc();
</script>
<script src="/static/js/editRasp.js"></script>
<script src="/static/js/loadRasp.js"></script>
<script>
    loadRaspToToken();
</script>

</html>