<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/clear.css">
    <link rel="stylesheet" href="/static/css/menustyle.css">
    <link rel="stylesheet" href="/static/css/lkstyle.css">
    <link rel="stylesheet" href="/static/css/raspstyle.css">
    <link rel="stylesheet" href="/static/css/raspstyleforuser.css">
    <link rel="stylesheet" href="/static/css/adminuserstyle.css">
    <title>{{name}}</title>
</head>

<body>
    <div id="content">
        <div id="mobileContext">

        </div>
        <div id="desktopContext">

        </div>
        <div id="raspContent">

        </div>
        <div id="blockButtonDiv">

        </div>
    </div>
</body>
<script src="/static/js/drawAnotherUserRasp.js"></script>
<script src="/static/js/loadInfoAboutUserTeacherAW.js"></script>
<script src="/static/js/banuser.js"></script>

<script>
    loadInfoAboutTeacher();
</script>

</html>