<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/clear.css">
    <link rel="stylesheet" href="/static/css/menustyle.css">
    <link rel="stylesheet" href="/static/css/lkstyle.css">
    <link rel="stylesheet" href="/static/css/raspUser.css">
    <title>{{name}}</title>
</head>

<body>
    <div id="content">
        <div class="menuMobileDiv">
            <input type="button" class="button" onclick="showHideMenu(1);" value="Меню">
            <div class="menuMobile" id="menuId1" data-vis="nonvis">
                <a href="/profile"><input type="button" class="button" value="Профиль"></a>
                <a href="/found"><input type="button" class="button" value="Поиск ученика"></a>
                <a href="/messenger"><input type="button" class="button" value="Мессенджер"></a>
                <a href="/rasp"><input type="button" class="button" value="Расписание"></a>
                <input type="button" class="button" value="Выход" onclick="exit();">
            </div>
        </div>
        <div class="menuDesktopDiv">
            <a href="/profile"><input type="button" class="button deskmenu" value="Профиль"></a>
            <a href="/found"><input type="button" class="button deskmenu" value="Поиск ученика"></a>
            <a href="/messenger"><input type="button" class="button deskmenu" value="Мессенджер"></a>
            <a href="/rasp"><input type="button" class="button deskmenu" value="Расписание"></a>
            <input type="button" class="button deskmenu" value="Выход" onclick="exit();">
        </div>
        <div id="mobileContext">

        </div>
        <div id="desktopContext">

        </div>
    </div>
</body>
<script src="/static/js/mobileMenuScript.js"></script>
<script src="/static/js/loadInfoAboutUserTeacher.js"></script>
<script src="/static/js/mobileRaspDayScript.js"></script>
<script>
    loadInfoAboutTeacher();
</script>
<script src="/static/js/exitProfile.js"></script>
<script src="/static/js/writeToUser.js"></script>
<script src="/static/js/updateOnline.js"></script>
<script>
    updateOnlineFunc();
</script>

</html>